<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.insoft.laris">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nasalogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/nasalogo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLogin.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name="com.insoft.laris.report.PerInvoiceActivity"></activity>
        <activity android:name="com.insoft.laris.report.SalesDateActivity" />
        <activity android:name="com.insoft.laris.report.SalesByDateActivity" />
        <activity android:name="com.insoft.laris.report.DetailItemActivity" />
        <activity android:name="com.insoft.laris.report.SalesTodayActivity" />
        <activity android:name="com.insoft.laris.admin.SalesReportActivity" />
        <activity
            android:name="com.insoft.laris.admin.PelangganEditActivity"
            android:label="Edit Pelanggan"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name="com.insoft.laris.admin.PelangganAddActivity"
            android:label="Tambah Pelanggan"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name="com.insoft.laris.admin.MasterPelangganActivity"
            android:label="Daftar Pelanggan"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name="com.insoft.laris.admin.BarangEditActivity"
            android:label="Edit Barang"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name="com.insoft.laris.admin.BarcodeActivity"
            android:label="Scan Barcode Produk"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name="com.insoft.laris.admin.BarangAddActivity"
            android:label="Tambah Barang"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name="com.insoft.laris.admin.MasterBarangActivity"
            android:label="Master Barang"
            android:theme="@style/Theme.Bestbeauty" />
        <activity android:name="com.insoft.laris.admin.ReceiptActivity" />
        <activity
            android:name="com.insoft.laris.admin.PenjualanActivity"
            android:label="Penjualan Per Hold"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name="com.insoft.laris.admin.ListPenjualanActivity"
            android:label="Daftar Penjualan Hold"
            android:theme="@style/Theme.Bestbeauty" />
        <activity android:name="com.insoft.laris.AdminActivity" />
        <activity android:name="com.insoft.laris.DetailActivity" />
        <activity android:name="com.insoft.laris.TransaksiActivity" />
        <activity android:name="com.insoft.laris.SettingActivity" />
        <activity android:name="com.insoft.laris.BarangActivity" />
        <activity android:name="com.insoft.laris.EditActivity" />
        <activity android:name="com.insoft.laris.CustomerActivity" />
        <activity android:name="com.insoft.laris.BarcodeActivity" />
        <activity android:name="com.insoft.laris.LoginActivity" />
        <activity android:name="com.insoft.laris.MainActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.insoft.laris.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>