<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Android 11 ke bawah -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Android 12 ke atas -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nasalogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/nasalogo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLogin.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <activity android:name=".report.PerInvoiceActivity"
            android:theme="@style/Theme.BestbeautyNoBar"/>
        <activity android:name=".report.SalesDateActivity"
            android:theme="@style/Theme.BestbeautyNoBar"
            />
        <activity android:name=".report.SalesByDateActivity"
            android:theme="@style/Theme.BestbeautyNoBar"/>
        <activity android:name=".report.DetailItemActivity"
            android:theme="@style/Theme.BestbeautyNoBar"/>
        <activity android:name=".report.SalesTodayActivity"
            android:theme="@style/Theme.BestbeautyNoBar"
            />
        <activity
            android:name=".admin.SalesReportActivity"
            android:label="Laporan Penjualan"
            android:theme="@style/Theme.BestbeautyNoBar" />
        <activity
            android:name=".admin.PelangganEditActivity"
            android:label="Edit Pelanggan"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name=".admin.PelangganAddActivity"
            android:label="Tambah Pelanggan"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name=".admin.pengguna.PenggunaActivity"
            android:label="Daftar Pengguna"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name=".admin.pengguna.PenggunaAddActivity"
            android:label="Tambah Pengguna"
            android:theme="@style/Theme.Bestbeauty" />

        <activity
            android:name=".admin.pengguna.PenggunaEditActivity"
            android:label="Edit Pengguna"
            android:theme="@style/Theme.Bestbeauty" />

        <activity
            android:name=".AdminActivity"
            android:label="Dashboard"
            android:theme="@style/Theme.BestbeautyNoBar" />
        <activity
            android:name=".admin.MasterPelangganActivity"
            android:label="Daftar Pelanggan"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name=".admin.BarangEditActivity"
            android:label="Edit Barang"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name=".admin.BarcodeActivity"
            android:label="Scan Barcode Produk"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name=".admin.BarangAddActivity"
            android:label="Tambah Barang"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name=".admin.MasterBarangActivity"
            android:label="Master Barang"
            android:theme="@style/Theme.Bestbeauty" />
        <activity android:name=".admin.ReceiptActivity" />
        <activity
            android:name=".admin.PenjualanActivity"
            android:label="Penjualan Per Hold"
            android:theme="@style/Theme.Bestbeauty" />
        <activity
            android:name=".admin.ListPenjualanActivity"
            android:label="Daftar Penjualan Hold"
            android:theme="@style/Theme.Bestbeauty" />

        <activity
            android:name=".admin.piutang.PiutangActivity"
            android:label="Daftar Piutang"
            android:theme="@style/Theme.BestbeautyNoBar" />

        <activity
            android:name=".admin.pembayaran.PembayaranActivity"
            android:label="Daftar Pembayaran"
            android:theme="@style/Theme.BestbeautyNoBar" />

        <activity android:name="com.insoft.laris.admin.supplier.SupplierActivity"
            android:theme="@style/Theme.BestbeautyNoBar"
            />

        <activity android:name="com.insoft.laris.admin.supplier.tambah.SupplierTambahActivity"
            android:theme="@style/Theme.BestbeautyNoBar"
            />

        <activity android:name="com.insoft.laris.admin.pembelian.PembelianActivity"
            android:theme="@style/Theme.BestbeautyNoBar"
            />

        <activity android:name="com.insoft.laris.admin.pembelian.PembelianDetailActivity"
            android:theme="@style/Theme.BestbeautyNoBar"
            />

        <activity android:name=".DetailActivity" />
        <activity android:name=".TransaksiActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".BarangActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".CustomerActivity" />
        <activity android:name=".BarcodeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.Bestbeauty"
            />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.insoft.laris.admin.pembelian.tambah.PembelianTambahActivity"
            android:theme="@style/Theme.BestbeautyNoBar"
            />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>
    </application>

</manifest>